// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$custom-file-text: (
    fr:"Choisir un fichier",
    en: "Choose File",
);

$custom-file-text: (
    fr:"Aucun fichier choisi",
    en: "No selected file",
);