@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.login-page {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto;
    background-color: white;
    overflow-x: hidden;
}

.login-form {
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.welcome-container {
    grid-column: 2 / 3;
}

.welcome-container img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.login-form h1 {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.login-form .signup-label {
    margin: 2rem auto;
}

.login-form label  {
    font-size: 1.2rem;
    color: grey;
}

.login-form input {
    font-size: 1.2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-check-label {
    font-size: 1.1rem;
    padding-top: 3px;
    color: grey;
}

.login-form button[type="submit"] {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}

.remember {
    margin-left: 1rem;
}

.forgot-password {
    text-align: end;
    padding-top: 3px;
}

/*********************************************** Responsive *************************************************************/

@media screen and (max-width : 1279px) {
    .login-form label, .login-form input, .have-account {
        font-size: 1.1rem !important;
    }
    .login-form form {
        width: 33vw !important;
    }
    .form-check-label {
        font-size: 1rem;
    }
}

@media screen and (max-width : 1024px) {
    .login-form form {
        width: 40vw !important;
    }
    .login-form h1 {
        margin-bottom: 4.5rem;
        font-size: 2.5rem;
    }
    .login-form label, .login-form input, .have-account {
        font-size: 1rem !important;
    }
    .login-form button[type="submit"] {
        font-size: 1.3rem;
    }
    .login-form button[type="submit"] {
        font-size: 1.4rem;
    }
    .form-check-label {
        font-size: 0.9rem;
    }
}

@media screen and (max-width : 768px) {
    .login-page {
        grid-template-columns: 1fr;
    }
    .welcome-container {
        display: none;
    }
    .login-form form {
        width: 56vw !important;
    }
}

@media screen and (max-width : 600px) {
    .login-form form {
        width: 64vw !important;
    }
    .login-form h1 {
        margin-bottom: 4.0rem;
        font-size: 2.3rem;
    }
    .login-form label, .login-form input, .have-account {
        font-size: 0.9rem !important;
    }
    .login-form button[type="submit"] {
        font-size: 1.2rem;
    }
    .form-check-label, .forgot-password {
        font-size: 0.8rem;
    }
}

@media screen and (max-width : 400px) {
    .login-form form {
        width: 80vw !important;
    }
    .login-form h1 {
        margin-bottom: 3.5rem;
        font-size: 9.2vw;
    }
    .login-form label, .login-form input, .have-account {
        font-size: calc(7px + 1.8vw) !important;
    }
    .login-form button[type="submit"] {
        font-size: calc(8.5px + 2.6vw);
    }
    .form-check-label, .forgot-password {
        font-size: calc(5.8px + 1.75vw)
    }
}
 