.app-pagination {
    width: 96%;
}
.tasks {
    --s-add: calc(0.6rem + 0.5vw);
    --fs-filter: calc(0.5rem + 0.5vw);
    --fs-filter-hover : calc(0.6rem + 0.5vw);
    --bs-search: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --co-bd-search: rgb(229, 228, 228);
}
.tasks .header {
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
    grid-template-rows: 100%;
}
.tasks .header .label {
    grid-column: 1 / 2;
}
.tasks .header .functions {
    grid-column: 2 / 3;
}
.tasks .header .add-project {
    grid-column: 3 / 4;
}

.tasks .header .label-top img {
    width: calc(1rem + 1vw);
    height: calc(1rem + 1vw);
    object-fit: cover;
    margin-right: 0.5vw;
}
.tasks .header .label-top div {
    font-size: calc(0.5rem + 1vw);
    font-weight: 600;
}
.tasks .header .info-project {
    font-size: calc(0.18rem + 1vw);
    color: grey;
}
.tasks .functions #search {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}
.tasks .functions input {
    border: none;
    box-shadow: var(--bs-search);
}
.tasks .functions input:focus {
    box-shadow: var(--bs-search) !important;
    border-color: var(--co-bd-search) !important;
}
.tasks .functions button {
    margin-left: -1.5rem;
    border: 1px solid var(--co-bd-search);
    height: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: var(--bs-search);
}
.tasks .functions .filter {
    width: 15%;
}
.tasks .functions .dropdown-toggle {
    margin-top: 2px;
    cursor: pointer;
}
.tasks .functions .dropdown-toggle::after {
    display: none !important;
}
.tasks .functions .dropdown-item {
    font-size: var(--fs-filter);
}
.tasks .functions .dropdown-item:hover {
    font-size: var(--fs-filter-hover);
}
.tasks .functions .dropdown-menu {
    min-width: calc(5rem + 2vw) !important;
}

.tasks .add-project .add {
    font-size: var(--s-add);
    float: right;
    border-radius: 15px;
    color: white !important;
}
.tasks .add-project img {
    width: var(--s-add);
}
.tasks .no-found {
    height: 50vh;
    color: rgb(136, 136, 136);
    font-weight: 600;
}

/********************************************* project card ************************************************************/

.tasks .pj-card {
    width: 45%;
    padding: calc(0.3rem + 0.5vw) !important;
    --fs-header: calc(0.3rem + 0.6vw);
    --fs-title: calc(0.4rem + 0.7vw);
    --fs-date: calc(0.2rem + 0.6vw);
    --fs-owner: calc(0.27rem + 0.4vw);
    --fs-progress: calc(0.3rem + 0.6vw);
    --h-progress: calc(1rem + 1vw);
    --btn-pd-x: 5px;
    --btn-pd-y: 2px;
    --w-bloc: 100%;
    --w-title: 70%;
    --w-assigned: calc(var(--w-bloc) - var(--w-title));
    --w-avatar: calc(1rem + 0.4vw);
    --w-sub-title: 70%;
    --w-action: calc(var(--w-bloc) - var(--w-sub-title));
    --w-action-icon: calc(0.7rem + 0.4vw);
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tasks .pj-card .card-bloc {
    width: var(--w-bloc);
    font-size: var(--fs-header);
}
.tasks .pj-card .card-bloc .btn {
    font-size: var(--fs-header) !important;
    padding: var(--btn-pd-y) var(--btn-pd-x) !important;
    cursor: initial;
}
.tasks .pj-card .card-bloc .btn {
    font-size: var(--fs-date) !important;
}
.tasks .pj-card .card-title {
    width: var(--w-title);
    font-size: var(--fs-title);
    font-weight: 600; 
    padding-right: 3px;  
}
.tasks .pj-card .project-label {
    text-decoration: underline;
    font-weight: 500 !important;
}
.tasks .pj-card .assigned {
    width: var(--w-assigned);
    font-size: var(--fs-header);
    text-align: end;  
}
.tasks .pj-card .owner, .tasks .pj-card .ownerPlus {
    display: block;
    font-size: var(--fs-owner);
    border-radius: 100%;
    background-color: rgb(228, 226, 226);
    color: black;
    width: var(--w-avatar);
    height: var(--w-avatar);
    text-align: center;
    padding-top: 3.5px;
}
.tasks .pj-card .assigned img {
    width: 100%;
    width: var(--w-avatar);
    height: var(--w-avatar);
    border-radius: 100%;
    object-fit: cover;
}
.tasks .pj-card .card-project {
    width: var(--w-sub-title);
    font-size: var(--fs-progress);
    font-weight: 600;
    color: rgb(60, 60, 60);
}
.tasks .pj-card .project-progress {
    height: var(--h-progress);
}
.tasks .pj-card .actions img {
    width: var(--w-action-icon);
    margin-left: 5px;
}

/********************************************* Detail Task ************************************************************/

.task {
    --w-page: 90%;
    --fs-page: calc(0.55rem + 0.6vw);
    --fs-priority: calc(0.3rem + 0.6vw);
}
.task .task-name {
    text-align: center;
    font-size: calc(0.6rem + 1vw);
}
.task .properties {
    width: var(--w-page);
    font-size: var(--fs-page);

}
.task .priority {
    font-size: var(--fs-priority);
    cursor: initial;
}
.task .actions {
    height: 25vh !important;
}
.task .actions a {
    color: white !important;
    font-size: var(--fs-page);
}
.task .coworker {
    margin-right: calc(0.4rem + 0.6vw);
    padding: 1px calc(0.2rem + 0.6vw);
    border: 2px solid rgb(0, 149, 255);
    border-radius: 5px;
}
.task .comments {
    width: 100%;
    min-height: 15vh !important;
    border: 1px rgb(153, 153, 153) solid;
    border-radius: 10px;
}